# 데이터 다루기

**기본 설정**

`pandas` 라이브러리를 `pd`라는 이름으로 불러온다

In [1]:
import pandas as pd

데이터프레임의 [chained indexing을 금지시키기 위한 설정](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy)을 지정한다.
Pandas 3.0 버전부터는 기본 옵션으로 지정된다.

In [2]:
pd.options.mode.copy_on_write = True

**데이터 저장소 디렉토리**

코드에 사용되는 [데이터 저장소의 기본 디렉토리](https://github.com/codingalzi/DataSci/tree/master/data)를 지정한다.

- 앞으로 사용할 데이터셋들의 기본 저장소

In [3]:
data_url = 'https://raw.githubusercontent.com/codingalzi/DataSci/refs/heads/master/data/'

## 데이터셋 불러오기

아래 이미지의 내용처럼 10명 학생의 체력 테스트 결과를 담은
csv 파일로 저장된 태뷸러 데이터<font size='2'>tabular data</font>를 불러온다.

<p><div align="center"><img src="https://raw.githubusercontent.com/codingalzi/DataSci/master/jupyter-book/images/ch01/sport_test.png" style="width:300px"></div></p>

:::{admonition} 태뷸러 데이터
:class: tip
태뷸러 데이터는 엑셀 형식으로 표현되는 데이터를 가리킨다.
:::

이를 위해 통계분석 라이브러리 Pandas의 `read_csv()` 함수를 이용한다.
불러올 때 학생번호를 인덱스로 지정하고, 
불러들인 데이터프레임<font size='2'>DataFrame</font> 자료형 값을
변수 `sports_df`에 할당한다.

In [4]:
sports_df = pd.read_csv(data_url+'ch01_sport_test.csv', index_col='학생번호')

체력 테스트 결과를 데이터프레임으로 읽어들인 결과는 다음과 같다.
학생번호가 인덱스로 지정되었음에 주의한다.

In [5]:
sports_df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

## 데이터프레임 기초 정보

데이터프레임이 제공하는 기능을 이용하여 저장된 데이터셋의 다양한 정보를 확인할 수 있다.

- 모양 정보

모양 정보를 이용하여 데이터셋에 포함된
샘플의 개수와 각 샘플에 포함된 특성(변인, 변수)의 개수를 확인할 수 있다.

| 행/열 | 의미 |
| :---: | :--- |
|행 | 각각의 데이터 샘플. 총 10개 |
| 열 | 특성 수. 총 5개 |

In [6]:
sports_df.shape

(10, 5)

- 데이터셋의 특성별 종합 정보

In [7]:
sports_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1 to 10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      10 non-null     int64
 1   악력      10 non-null     float64
 2   윗몸일으키기  10 non-null     int64
 3   점수      10 non-null     int64
 4   순위      10 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 480.0 bytes

- 데이터셋의 수치형 특성의 기본 통계 정보

In [8]:
sports_df.describe()

              학년         악력     윗몸일으키기         점수        순위
count  10.000000  10.000000  10.000000  10.000000  10.00000
mean    2.100000  38.880000  28.200000  13.000000   5.50000
std     0.875595   8.337306   6.828047   3.651484   3.02765
min     1.000000  26.000000  14.000000   7.000000   1.00000
25%     1.250000  34.775000  27.000000  10.250000   3.25000
50%     2.000000  37.800000  29.500000  13.500000   5.50000
75%     3.000000  45.600000  32.000000  15.750000   7.75000
max     3.000000  50.900000  37.000000  18.000000  10.00000

## 특성(변인, 변수)의 종류

- 특성의 종류 확인

In [9]:
sports_df.columns

Index(['학년', '악력', '윗몸일으키기', '점수', '순위'], dtype='object')

**수치형 특성(양적 변수)과 범주형 특성(질적 변수)**

- 수치형 특성(양적 변인, 양적 변수): 양으로 표시되는 값들의 특성
- 범주형 특성(질적 변인, 질적 변수): 선택이나 구분을 위해 사용되는 값들의 특성

| 종류 | 특성 |
| :---: | :--- |
| 수치형 특성 | 악력, 윗몸일으키기, 점수, 순위 |
| 범주형 특성 | 학년 |

**이산형 특성과 연속형 특성**

- 이산형 특성: 1, 2, 3, ... 등의 정수처럼 서로 인접한 두 값 사이에 다른 값을 취하지 않는 변인
- 연속형 특성: 유리수, 실수 등처럼 임의의 두 값 사이에 다른 값을 취할 수 있는 변인

| 종류 | 특성 |
| :---: | :--- |
| 이산형 특성 | 윗몸일으키기, 점수, 순위 |
| 연속형 특성 | 악력 |

## 인덱싱

### 행 인덱싱

- `loc` 메서드

인덱스로 사용된 값, 즉 학생번호를 이용한 인덱싱을 지원한다.
예를 들어 아래 코드는 학생번호가 1인 학생의 체력 테스트 결과를 확인해준다.

In [10]:
일번인덱스샘플 = sports_df.loc[1]
일번인덱스샘플

학년         1.0
악력        40.2
윗몸일으키기    34.0
점수        15.0
순위         4.0
Name: 1, dtype: float64

자료형은 시리즈다.

In [11]:
type(일번인덱스샘플)

pandas.core.series.Series

- `iloc` 메서드

데이터프레임은 자체적으로 인덱스 번호를 0, 1, 2, 3 등으로 메긴다.
예를 들어 학생번호가 1인 학생의 인덱스는 0번이며 다음과 같이 하면
이전 코드와 동일한 결과를 얻는다.

In [12]:
sports_df.iloc[0]

학년         1.0
악력        40.2
윗몸일으키기    34.0
점수        15.0
순위         4.0
Name: 1, dtype: float64

### 열 인덱싱

데이터프레임에서 악력에 대한 열을 추출하면 
모든 학생의 악력에 대한 정보만을 담은 
1차원 자료구조인 시리즈<font size='2'>Series</font>가 반환된다.

In [13]:
악력1D = sports_df['악력']
악력1D

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [14]:
악력1D.ndim

1

반면에 아래와 같이 리스트를 사용하면 2차원 자료구조인 데이터프레임이 반환된다.

In [15]:
악력2D = sports_df[['악력']]
악력2D

        악력
학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4

In [16]:
악력2D.ndim

2

`악력1D`와 `악력2D`는 내용면에서는 동일하며 거의 동일하게 활용될 수 있다.
하지만 여러 개의 특성을 지정하려면 반드시 리스트 형식으로 사용해야 한다.
예를 들어 아래 코드는 모든 학생에 대해 학년과 악력 정보를 함께 담은 데이터프레임을 가리킨다.

In [17]:
학년과약력 = sports_df[['학년', '악력']]
학년과약력

      학년    악력
학생번호
1      1  40.2
2      1  34.2
3      1  28.8
4      2  39.0
5      2  50.9
6      2  36.5
7      3  36.6
8      3  49.2
9      3  26.0
10     3  47.4

`loc`과 `iloc` 메서드를 이용하여 열 인덱싱을 진행할 수 있다.

**loc 활용**

특성 이름 또는 이름들의 리스트를 이용한다.
아래 코드에서 `:`는 행 전체를 가리킨다.

In [18]:
악력1D = sports_df.loc[:, '악력']
악력1D

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [19]:
악력2D = sports_df.loc[:, ['악력']]
악력2D

        악력
학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4

In [20]:
학년과약력 = sports_df.loc[:, ['학년', '악력']]
학년과약력

      학년    악력
학생번호
1      1  40.2
2      1  34.2
3      1  28.8
4      2  39.0
5      2  50.9
6      2  36.5
7      3  36.6
8      3  49.2
9      3  26.0
10     3  47.4

**iloc 활용**

0, 1, 2, ... 등으로 시작하는 특성의 인덱스를 활용한다.

In [21]:
악력1D = sports_df.iloc[:, 1]
악력1D

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [22]:
악력2D = sports_df.iloc[:, 1:2]
악력2D

        악력
학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4

In [23]:
학년과약력 = sports_df.iloc[:, :2]
학년과약력

      학년    악력
학생번호
1      1  40.2
2      1  34.2
3      1  28.8
4      2  39.0
5      2  50.9
6      2  36.5
7      3  36.6
8      3  49.2
9      3  26.0
10     3  47.4

## 연습문제

참고: [(연습) 데이터 다루기](https://colab.research.google.com/github/codingalzi/DataSci/blob/master/practices/practice-data_handling.ipynb)